<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamName</key>
	<string></string>
	<key>teamID</key>
	<string>K46L923P44</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>destination</key>
	<string>export</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
    <dict>
        <key>com.brainbit.neuro2</key>
        <string>Neuro2-AdHoc(Semen-mac)</string>
    </dict>
</dict>
</plist>
