name: CIAndroid
on:
  workflow_dispatch: # Ручной запуск
jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Flutter pub get
        run: flutter pub get

      # === АВТОВЕРСИФИКАЦИЯ ===
      - name: Generate build version
        id: version
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | sed 's/version: //;s/+.*//')
          VERSION_CODE=${GITHUB_RUN_NUMBER}

          echo "VERSION_NAME=$VERSION" >> $GITHUB_ENV
          echo "VERSION_CODE=$VERSION_CODE" >> $GITHUB_ENV

      - name: Show version
        run: |
          echo "VERSION: $VERSION_NAME"
          echo "VERSION CODE: $VERSION_CODE"

      # === KEYSTORE ===
      - name: Decode keystore
        run: echo "$ANDROID_KEYSTORE" | base64 --decode > android.keystore

      - name: Setup signing config
        run: |
          mkdir -p android/app
          cat > android/app/key.properties <<EOF
          storePassword=${ANDROID_KEYSTORE_PASSWORD}
          keyPassword=${ANDROID_KEY_PASSWORD}
          keyAlias=${ANDROID_KEY_ALIAS}
          storeFile=../android.keystore
          EOF

      - name: Build AAB
        run: |
          flutter build appbundle \
            --release \
            --build-name=$VERSION_NAME \
            --build-number=$VERSION_CODE

      - name: Upload AAB as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-release-aab
          path: build/app/outputs/bundle/release/*.aab